.App {
  text-align: center;
  font-family: 'Oswald', sans-serif;

}
*{
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;

}

.page {
  margin-top: 10vh;
  min-height: 80vh;
  width: 100%;
  
}


